* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    
}
body {
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 16px;
    margin: 0 25%;
}
/* nav section */
.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;   
    flex-wrap: wrap;
    height: 180px;
    width: 100%;
    margin-inline: auto;
    border-bottom: 0.1rem solid rgb(192, 192, 192);
    background-color: white;
    z-index: 100;
}
.title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 0.7rem;
}
h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4rem;
    font-family: 'Comforter Brush', cursive;
}
.header-subheading {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-left: 27%;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    color: rgba(0,0,0,0.5);
}
/* navigation */
.nav-container {
    display: block;
    justify-content: center;
    color: black;
    padding-inline: 1rem;
    width: 100%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
nav li {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 700;
}
.home {
    color: rgb(192, 192, 192);
}
nav li:hover {
    color: rgb(192, 192, 192);
    cursor: pointer;
}

@media only screen and (min-width: 585px) {

}

/* Main section */
main {
    width: 100%;
    margin-inline: auto;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 4rem;
    border-bottom: 0.1rem solid rgb(192, 192, 192);
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.gallery {
    width: 70%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 4rem;
}
.gallery-wide {
    width: 100%;
}
.about-section p {
    margin-inline: 20%;
}

/* Price List */
.price-list {
    margin: auto;
    margin-block: 50px;
    width: 70%;
    height: auto;
    border: 1px solid black;
    border-radius: 5%;
}
.price-list-header {
    margin-bottom: 1.5rem;
}
.center {
    text-align: center;
}
table {
    width: 100%;
    flex-shrink: 2;
    flex-grow: 3;
    flex-basis: auto;
    padding: 1rem;
}
.left {
   text-align: left; 
}
.right {
    text-align: right;
}
.top {
    padding-top: 1rem;
}
.normal-font {
    font-weight: lighter;
}

@media only screen and (min-width: 577px) {

}

/* portfolio */
.work-pics-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
}
.work-pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.gallery-portfolio {
    width: 45%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 4rem;
}